<% if logged_in? %>
    <h1>Welcome back, <%= current_user.username %>!</h1>
<% else %>
    <h1>Please sign-in to continue!</h1>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<% end %>
