<% provide(:title, "(#{@subjects.count}) Subject List") %>


<h1>Subjects</h1>

<ul class="list-group">
  <% @subjects.each do |c| %>
     <li class="list-group-item">
        <%= link_to c.name, {:action => 'show_subjects', :id => c.id} -%>
     </li>
  <% end %>
  <% if @subjects.blank? %>
      <li class="list-group-item">
          There are no subjects currently in the system.
      </li>

  <% end %>
  <!--<li class="list-group-item">
     <%= link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i>&nbsp;Add new Subject'.html_safe, {:action => 'show_subjects' }%>
  </li>-->

</ul>