<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/dark-mode.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Engineering Honors Participation Tracker</title>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dev Team</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="topnav"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center">
      <div class="row content">
        <div id="leftnav" class="col-sm-2 sidenav">
          <p><a href="#">Events</a></p>
          <p class="sideactive"><a href="#">Students</a></p>
          <p><a href="#">Announcements</a></p>
        </div>

        <div class="col-sm-8 text-center title">
          <hr>
          <h1 id="title">Students</h1> 
		  <button type="button" class="btn btn-primary btn-circle btn-sm">Add</button>
          <button type="button" class="btn btn-primary btn-circle btn-sm">Delete</button>
          <p></p>
          <hr>

          <div class="row studentcard">
            <div class="col-sm-3 text-left">
              <img class="card-img" src="example.png" alt="Student Image">
			</div>
			
            <div class="col-sm-9 card-body text-left">
              <h5 class="card-title">Student Name</h5>
              <h5 class="card-text">Student Details</h5>
			  <button style="allign: right" type="button" class="btn btn-primary btn-circle btn-sm">Edit</button>
            </div>
            
          </div>
		  <hr>
		  
        </div>





        <div id="rightnav" class="col-sm-2 sidenav">
          <a href="#" class="nav-link">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="darkSwitch" />
              <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
          </a>
        </div>
      </div>
    </div>

    <script src="js/dark.js"></script>
    <script src="js/dark-mode-switch.min.js"></script>

  </body>

</html>
